<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Add Event</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet"> 

        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
        <style type="text/css">
        #main{
        }
        li{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        button[type="submit"]{
            border-radius: 8px;
            padding: 1rem;
            border: 1px solid white;
        }
        #add{
            font-size: 2rem;
            border-radius: 50%;
            background: #0966c2;
            transition: 0.5s;
            width: 42px; display: flex; align-content: space-around; justify-content: space-around
        }
        #add:hover{
            background: #1976d2;
        }
        input[type="text"], input[type="datetime-local"]{
            background: inherit;
            border: none;
            font-size: 1.5rem;
            border-bottom: 1px solid white;
            color: inherit;
        }
        span{
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        button, input[type="button"]{
            background: none;
            cursor: pointer;
            border: none;
            color: inherit;
        }

        body{

            font-family: 'Montserrat', sans-serif;

            margin : 0;
            display: flex;
            flex-direction: column;
            height: 100%;
            padding : 0;
            background: #333;
                color: #FAFAFA;

            width: 100%;
        }
        html{
            height: 100%
        }
            #body {
                flex-grow: 1;
                display: flex;
                justify-content: center
            }
            
            form * {
                display: block;
                width: 100%;
            }
           
            form {
                min-width: 500px;
                text-align: left;
                max-width: 900px;
                margin: 0 auto;
                display: inline-block;
            }
            
            li{
                margin : 0;
                font-size: 1.5rem;
            }

            .btn-remove{
                font-size: 1.5rem;
                display: flex;
                width: 2rem;
                height: 2rem;
                flex-direction: column;
                justify-content: center;
                background : #FF000055;
                color : white;
                padding-top: -4px;
                border-radius: 100%;
                border: none;
                cursor: pointer;
                text-align : center;
            }
            button[type="submit"]{
                transition: 0.33s;
            }
            button[type="submit"]:hover{
                background: green;
                border-color: green;

            }
            footer{margin-top: 2rem;
                width: 100%;
                height: auto;
                padding: 2rem 0 2rem 0;
                text-align: center;
                background: #222;
                
            }
            a{
                text-decoration: none;
            color: inherit
            }
            @media(max-width: 500px){
                #body, #main{
                    width: 100%;
                    max-width: none;
                }
                form{
                    min-width: 0px;
                    max-width: 100%;
                    padding: 1rem;
                }
            }
        </style>
    </head>

    <body>
       
        <div id="body">
                <form id="main">
                        <h1>Add an event</h1> 
            
 <span>Name</span>
                        <input id="name" type="text" required> 
            
<span>Time and date</span>
                        <input id="time" type="datetime-local" required>
                        <span>Location</span>
                        <input id="location" type="text" style="margin-bottom: 2rem;">
                        <div id="map" style="height: 200px; width: 100%">
                            
                            <div style="display: flex; justify-content: center;align-content: center; width:100%; height: 200px; color: #FFFFFF55; border: 2px dashed #FFFFFF55; border-radius: 8px">
                                <div style="align-self: center; flex-grow: 1; text-align:center">Loading...</div>
                            </div>
                        </div>

<span>Invitees</span>
                        <div style="display: flex">
                            <input id="invite" type="text" name = "invitees" style = "flex-grow: 1">
                            <input type='button' value='+' id='add' style = "" />
                        </div>
                        <ul id='list' style = "list-style-type: none" ></ul>
                        <button type="submit" id="submit" > Submit </button>
                        
                    </form>
        </div>
        <footer>
                <a href="/user/logout">log out</a>
        </footer>
    </body>
    <script>
            let userLocation = {lat: 37.7749, lng: -122.4194}
            function geoSuccess(lat, lng){
                userLocation = {lat: lat, lng: lng}
                console.log(`lat: ${lat}, lng: ${lng}`)
            }
          navigator.geolocation.watchPosition(
              position => {
                  geoSuccess(position.coords.latitude, position.coords.longitude);
              }, 
              err => {
                  alert("Error getting location")
              },
              {enableHighAccuracy: true}
          )
        </script>
    <script>
        let eventLocation = userLocation
        document.getElementById("add").onclick  = function() {
            if($("#invite").val().length <= 0){
                return
            }
            var text = $("#invite").val()
            $("#invite").val("")
            console.log(text)
            var li = '<li>' + text + '</li>' + '<a class="btn-remove" style = "">×</a>'
            li = `<div style = 'max-width : 100%; margin-top: 1rem;'>
                    <div style = "margin-left: -40px; height: 100%; display : flex; justify-content : space-between; ; width : 100%">
                        ${li}
                    </div>
                </div>`
            $("#list").append(li)
            
        }
        $('#list').on('click', '.btn-remove', function(){
            $(this).siblings()[0].remove()

            this.remove()
        });
        function initialize(){
            console.log("init success")
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: userLocation,
            disableDefaultUI: true
        });
        var marker = new google.maps.Marker({
                position: userLocation,
                map: map,
                title: 'New Event Location'
            });
        map.addListener('click', function(e){
            lat = e.latLng.lat()
            lng = e.latLng.lng()
            eventLocation = {lat: lat, lng: lng};
            marker.setPosition(new google.maps.LatLng(e.latLng.lat(), e.latLng.lng()))
            console.log(eventLocation)  
        })
        }
        $('#submit').click( (e)=>{
            e.preventDefault()
            // change this to request
            let invitees = []
            let lis = $('li')
            for(let i = 0; i< lis.length; i++)
                invitees.push(lis[i].innerHTML)
            let name, time, location;
            [name, time, location] = [$('#name').val() , $('#time').val(), $('#location').val()]
            
            $.post('/test',
                {name: name, time: time, location: location, gps: eventLocation, attendies :invitees}
            ).done(()=>{alert("Successfully added event!"); window.location.href = "/dash"}).fail(()=>{alert("Failed to add event. Please try again later.")})
  
         } )      // var data = {
        //         store : { 
        //         }
        //     };
        // $.post("./form", )
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_I088qmfh0z17OjKqhKCOxCvRj97a9HU&callback=initialize" async defer></script>

</html>